p{
  font-size: 15px;
  font-family: "Times New Roman";
}

h2{
  text-align: center;
}

li{
  font-size: 15px;
  font-family: "Times New Roman";
  margin: 10px 0;
}

.rankings{
  display: flex;
  margin: 15px;
}

.rankings .rank{
  flex: 15%;
  border-bottom-width: 1px;
  border-bottom-color: #CCCCCC;
  border-bottom-style: dashed;
}

.rankings .rank img{
  display: block;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
}

.rankings .rank .ss{
  display: block;
  width: 90px;
  margin-left: auto;
  margin-right: auto
}

.rankings .desc{
  margin-left: 50px;
  flex: 85%;
}
