#coc-toggle{
  text-align: center;
  margin-top: -11px;
  font-size: 11px;
}

#coc-toggle:hover{
  color: white;
  text-decoration: underline;
}

h2{
  text-align: center;
}

.inline{
  display: inline;
}

.motw p{
  font-size: 10px;
}

p{
  font-size: 14px;
}

li{
  font-size: 14px;
}
