h1{
  text-align: center;
}

h2{
  text-align: center;
}

.icon{
  font-size: 24px;
}

li{
  font-size: 15px;
  font-family: "Times New Roman";
  margin: 10px 0;
}

p{
  font-size: 15px;
  font-family: "Times New Roman";
}
