.gym-leader-row{
  display: flex;
}

.gym-leader-col{
  flex: 50%;
}

.gym-leaders{
  width: 876px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title{
  text-align: center;
  font-size: 18px;
}

.gym-banner{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 360px;
}

.gym-type{
  font-size: 18px;
}

.gym-rank{
  font-size: 18px;
}

.gym-rules{
  font-size: 18px;
}

.type{
  width: 52px;
}

.rank{
  width: 54px;
}
