html{
  --menu-color: #202225;
  --menu-hover: #292b2f;
  --bg-color: #2f3136;
  --content-bg: #36393f;

  --dark-text-color: #4f5454;
  --regular-text-color: #829297;
  --light-text-color: #b9bbbe;
  --lighter-text-color: #d7dad9;
}

::-webkit-scrollbar{
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track{
  background: var(--bg-color);
}

::-webkit-scrollbar-thumb{
  background: var(--menu-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
  /*background: var(--content-bg);*/
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.banner{
  width: 900px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.menu a{
  display: block;
  padding: 12px;
}

.menu a:hover{
  background-color: var(--menu-hover);
}

.menu{
  width: 250px;
  overflow-y: auto;
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  background-color: var(--menu-color);
}

.top-bar{
  position: fixed;
  height: 50px;
  width: 100%;
  top: 0;
  background-color: var(--menu-color);
}

.top-bar button{
  background-color: var(--menu-color);
  color: var(--regular-text-color);
  border: none;
  width: 250px;
  height: 50px;
  font-size: 24px;
}

.top-bar button:hover{
  background-color: var(--menu-hover);
  color: var(--light-text-color);
}

#button{
  position: fixed;
  top: 0;
  left: 0;
}

body{
  background-color: var(--bg-color);
  color: var(--light-text-color);
  font-family: "Times New Roman";
  font-size: 16px;
}

p{
  color: var(--light-text-color);
}

a{
  text-decoration: none;
  color: var(--light-text-color);
}

a:hover{
  color: var(--lighter-text-color);
  text-decoration: none;
}

.section{
  margin-top: 35px;
}

.content{
  padding-top: 25px;
  display: block;
  background-color: var(--content-bg);
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
