.members{
  display: block;
}

.playlist-container{
  display: block;
  width: 900px;
  height: 315px;
  margin-left:auto;
  margin-right: auto;
}

.playlist{
  background-color: #111111;
  display: flex;
}

.playlist #playing{
  flex: 1;
}

.playlist div #videos{
  flex: 1;
  height: 315px;
  width: 340px;
  overflow-y: auto;
}

.playlist div #gw1-videos{
  flex: 1;
  height: 315px;
  width: 340px;
  overflow-y: auto;
}

#videos .playlist-item{
  padding: 4px;
}

#gw1-videos .playlist-item{
  padding: 4px;
}

#videos .playlist-item:hover{
  background-color: #222222;
}

#gw1-videos .playlist-item:hover{
  background-color: #222222;
}

.rules ol li{
  font-size: 22px;
  color: #DDDDDD;
}
